backcall==0.1.0
certifi==2019.9.11
chardet==3.0.4
cycler==0.10.0
Cython==0.29.13
decorator==4.4.0
geoindex==0.0.1
geojson==1.3.5
gtfs-realtime-bindings==0.0.6
gtfspy==0.0.4
idna==2.8
ipython==7.8.0
ipython-genutils==0.2.0
jedi==0.15.1
kiwisolver==1.1.0
lxml==4.4.1
matplotlib==3.1.1
matplotlib-scalebar==0.3.1
mzgtfs==0.10.4
networkx==1.11
nose==1.3.7
numpy==1.17.2
osmread==0.2
pandas==0.25.1
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.0
prompt-toolkit==2.0.10
protobuf==3.0.0b3
ptyprocess==0.6.0
Pygments==2.4.2
pyparsing==2.4.2
pyproj==2.4.0
pyshp==2.1.0
python-dateutil==2.8.0
python-geohash==0.8.5
pytz==2019.3
requests==2.22.0
Shapely==1.6.4.post2
six==1.12.0
smopy==0.0.7
traitlets==4.3.3
unicodecsv==0.14.1
urllib3==1.25.6
wcwidth==0.1.7
