<!DOCTYPE html>
<html >

<head>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/data/nairobi.json"></script>
    <script src="/tgr/jquery.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="css/agency.min.css" rel="stylesheet">

    <link href="templatemo_style.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <div id="templatemo_wrapper">

        <div id="templatemo_header">

            <div id="templatemo_menu">

                <ul>
                    <li><a href="index.html" class="current">Home</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="news.html">News</a></li>
                    <li><a href="partners.html">Partners</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>

            </div> <!-- end of templatemo_menu -->

            <div id="site_title">

                <h1><a href="http://www.templatemo.com" target="_parent">Global <strong>Web</strong><span>CSS
                            Templates</span></a></h1>

            </div> <!-- end of site_title -->

        </div> <!-- end of templatemo_header -->

        <div id="templatemo_main">

            <div class="map"></div>
            <div class="three_column">
                <h2>Updates</h2>
                <div class="image_wrapper"><a href="http://www.templatemo.com/page/3" target="_parent"><img
                            src="images/templatemo_image_02.jpg" alt="Free Templates" /></a></div>
                <p>In leo tellus, porta sit amet luctus ac, condimentum quis odio. Cras vestibulum, ipsum tincidunt
                    aliquet consequat. <a href="#">More...</a></p>
                <p>Maecenas dignissim, quam a posuere scelerisque, ligula arcu dictum turpis, id tempus turpis erat at
                    nulla. <a href="#">More...</a></p>

                <div class="button float_r"><a href="#">All News</a></div>

                <div class="cleaner_h30"></div>
                <h2>Testimonials</h2>
                <blockquote>
                    <p>In ac libero urna. Suspendisse sed odio ut mi auctor blandit. Duis luctus nulla metus</p>
                    <cite>Steve - <span>Web Designer</span></cite>
                </blockquote>
            </div>


        </div> <!-- end of templatemo_main -->

    </div> <!-- end of templatemo_wrapper -->
    <script src="/tgr/script.js"></script>
</body>

</html>